body {
  background:#E4DDCA;
  font-family: "Martel Sans", Helvetica, Arial, sans-serif;
}
header {
  background:#3B0B33;
}
nav ul {
  list-style-type: none;
  padding:0;
  margin:0;
}
nav ul li {
  display: inline-block;
}
main {
  background: #FFF;
}